/* THIS CUSTOM FILE IS NOT ORIGINAL TO 4.2 PAVILION THEME SOURCE CODE */

/* Video Start */

.video-center {
    position: relative;
    width: 100%;
    height: 400px;

    text-align: center;
    background: #000;
}

.video-center iframe {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: 100%;
    height: 100%;
}

/* Video End */

.img-left {
    float: left;
    max-width: 100%;
    margin: 0 20px 15px 0;
    display: block;
}

.img-right {
    float: right;
    max-width: 100%;
    margin: 0 0 15px 20px;
    display: block;
}

.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
}


@media (max-width: 479px) {
    .img-left {
        float: none;
        max-width: 100%;
        margin: 15px 0;
        display: block;
    }

    .img-right {
        float: none;
        max-width: 100%;
        margin: 15px 0;
        display: block;
    }
}

.img-res {
    max-width: 100%;
    height: auto;
    margin: 10px 0;
    display: block;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.topic-page p.img-caption,
.img-caption {
    font-size: 14px;
    text-align: center;
}

.footer-block .list li a {
    color: #000;
}

p.captioned-img {
    font-size: 13px;
}

.right-captioned-img,
.category-description p.right-captioned-img {
    float: right;
    padding: 15px;
    font-size: 13px;
    max-width: 100%;
    margin: 0 0 15px 15px;
    display: block;
}

.left-captioned-img,
.category-description p.left-captioned-img {
    float: left;
    padding: 15px;
    font-size: 13px;
    max-width: 100%;
    margin: 0 20px 15px 0px;
    display: block;
}

.header-links-wrapper a:hover {
    color: #037bca;
}

h2.category-inner-title a {
    color: #fff;
}

.hvr-bounce-to-top {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

    .hvr-bounce-to-top:before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #1b83c7;
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
        -webkit-transition-property: transform;
        transition-property: transform;
        -webkit-transition-duration: 0.5s;
        transition-duration: 0.5s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
    }

    .hvr-bounce-to-top:hover,
    .hvr-bounce-to-top:focus,
    .hvr-bounce-to-top:active {
        color: #fff;
    }

        .hvr-bounce-to-top:hover:before,
        .hvr-bounce-to-top:focus:before,
        .hvr-bounce-to-top:active:before {
            -webkit-transform: scaleY(1);
            transform: scaleY(1);
            -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
            transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
        }

.hvr-grow-shadow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
}

    .hvr-grow-shadow:hover,
    .hvr-grow-shadow:focus,
    .hvr-grow-shadow:active {
        box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        z-index: 3000;
    }

.btn-special {
    border-bottom: 5px solid #1b83c7;
    padding: 10px 8px 5px 8px;
    margin-bottom: 30px;
    text-shadow: 2px 2px 1px #fff;
    background-color: #ffffffd1;
}

    .btn-special:hover {
        text-shadow: none;
    }

.btn-hero {
    font-family: 'Titillium Web', sans-serif;
    font-size: 30px;
    float: right;
    position: relative;
    top: -104px;
    right: 30px;
    font-weight: 500;
    z-index: 1000;
}

@media (max-width: 480px) {
    .btn-hero {
        font-size: 12px;
        top: -51px;
        right: 0;
    }
}

@media (min-width: 481px) and (max-width: 667px) {
    .btn-hero {
        font-size: 21px;
        top: -69px;
        right: 17px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .btn-hero {
        top: -97px;
    }
}

@media (min-width: 1001px) {
    .spc-categories .category-details {
        background-color: #1b83c7;
        width: 100%;
    }
}

.page-body .center-2-left {
    float: left;
}

.page-body .side-2-right {
    float: right;
    border: 1px solid #ddd;
    box-shadow: 1px 1px 17px rgba(0, 0, 0, 0.30);
    background-color: #ffffff;
}

@media (max-width: 677px) {
    .page-body .center-2-left {
        float: none;
    }

    .page-body .side-2-right {
        float: none;
    }
}

.sidebar {
    padding: 20px;
    margin-bottom: 10px;
}

    .sidebar p {
        margin: 0;
        line-height: 29px;
    }

    .sidebar ul {
        list-style: none;
    }

.sidebar-phone {
    font-family: 'Open Sans', sans-serif;
    font-size: 29px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #ff0303;
    text-align: center;
}

.topic-page ul.sidebar-menu {
    margin: 0;
    padding: 0;
}

.btn-border {
    font-family: 'Titillium Web', sans-serif;
    font-size: 23px;
    font-weight: bold;
    border: 2px solid #1b83c7;
    padding: 6px 15px;
    display: inline-block;
    margin-top: 20px;
    transition: background-color 0.5s;
}

    .btn-border:hover {
        border: 2px solid #1b83c7;
        color: #fff;
        background-color: #1b83c7;
    }

.btn-border-lg {
    font-family: 'Titillium Web', sans-serif;
    font-size: 30px;
    font-weight: bold;
    border: 2px solid #1b83c7;
    padding: 15px 32px;
    display: inline-block;
    margin-top: 20px;
    transition: background-color 0.5s;
}

    .btn-border-lg:hover {
        border: 2px solid #1b83c7;
        color: #fff;
        background-color: #1b83c7;
    }

.btn-full {
    background: #1b83c7;
    padding: 6px 10px;
    text-align: center;
    color: #fff;
}

    .btn-full:hover {
        background: #0d93eb;
        padding: 6px 10px;
        text-align: center;
        color: #fff;
    }

.hvr-shrink {
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

    .hvr-shrink:hover,
    .hvr-shrink:focus,
    .hvr-shrink:active {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }

.hr-margins {
    clear: both;
    margin: 35px 0;
}

.space {
    margin: 30px;
    border: none;
}

.space-sm {
    margin: 15px;
    border: none;
}

.heading-padding {
    padding-bottom: 35px;
}

.column-4 {
    width: 100%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.column-6 {
    width: 100%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

@media (min-width: 768px) {
    .column-6 {
        width: 50%;
        float: left;
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
        min-height: 195px;
    }

    .column-4 {
        width: 30%;
        float: left;
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }
}

.home-page-body .nop-jcarousel.manufacturer-grid {
    background-color: transparent;
}

.customer-service {
    display: inline-block;
}

.cs-item {
    float: left;
    padding: 30px;
    border: 3px solid #f6f6f6;
    background-color: #e6e6e6;
    width: 33.33333333%;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    height: 235px;
}

@media (max-width: 667px) {
    .cs-item {
        width: 100%;
    }
}

.cs-item p,
.cs-item h2 {
    text-align: center;
}

.cs-item p {
    margin: 0;
    padding: 0;
}

.cs-cta {
    padding-top: 30px;
}

    .cs-cta h2 {
        font-size: 32px;
    }

.header-selectors-wrapper label a {
    color: #fff;
}

.ajax-cart-button-wrapper input[type="text"],
.ajax-cart-button-wrapper select {
    border-width: 0;
}

.productAddedToCartWindowDescription .price {
    color: #000;
}

.topic-page ul.product-list {
    list-style: none;
}

    .topic-page ul.product-list li {
        line-height: 26px;
        margin-bottom: 21px;
        font-size: 18px;
    }

.productTabs-body {
    box-shadow: 1px 1px 17px rgba(0, 0, 0, 0.30);
}

.topic-page .lead-text,
.category-description .lead-text {
    font-size: 20px;
    line-height: 38px;
}

.text-center {
    text-align: center;
}

.fa-file-pdf:before {
    content: "\f1c1"
}

.page-cta {
    box-shadow: 1px 1px 17px rgba(0, 0, 0, 0.30);
    padding: 35px;
    margin-top: 40px;
}

    .page-cta h2 {
        font-size: 27px;
    }

.no-wrap {
    white-space: nowrap;
}

.nop-jcarousel .carousel-title {
    background: rgba(221, 221, 221, 0.75);
    padding: 0 0 5px 5px;
}

.nop-jcarousel .carousel-title {
    background: rgba(221, 221, 221, 0.75);
    padding: 2px 0 5px 5px;
}

@media (min-width: 769px) and (max-width: 1999px) {
    .nop-jcarousel .carousel-title {
        background: rgba(221, 221, 221, 0.0);
        padding: 2px 0 5px 5px;
    }
}

@media (min-width: 2000px) {
    .nop-jcarousel .carousel-title {
        background: rgba(221, 221, 221, 0.75);
        padding: 2px 0 5px 5px;
    }
}

.fa-map-marker {
    margin-right: 5px;
}

.jCarouselMainWrapper .slick-prev,
.jCarouselMainWrapper .slick-next {
    top: 0;
}

.no-wrap-text {
    overflow: hidden;
}

.iso-global {
    width: 100%;
    height: 100%;
}

@media (min-width: 768px) {
    .iso-global {
        width: 42%;
        height: 42%;
    }
}

.table-res-general {
    overflow: auto;
    padding-bottom: 20px;
    font-size: 14px;
}

.table-striped table tr:nth-child(odd) {
    background-color: #f5f5f5;
}

.table-res {
    overflow: auto;
    padding-bottom: 20px;
    font-size: 14px;
}

    .table-res table td {
        padding: 8px;
    }

        .table-res table td:first-of-type {
            border-right: 1px solid #ddd;
        }

    .table-res .best-poor table td:first-of-type {
        border-right: 1px solid #ddd;
        background-color: #f9f9f9;
    }

    .table-res table tr {
        border-bottom: 1px solid #ddd;
    }

.table-blue {
    background-color: #bbe0fb;
}

.table-green {
    background-color: #abf1ab;
}

.table-yellow {
    background-color: #fdf5bd;
}

.table-red {
    background-color: #fdc0c0;
}

.table-border table td,
.table-border table tr {
    border: 1px solid #ddd;
}

.category-title-top {
    font-size: 32px;
    text-align: center;
}

    .category-title-top small {
        padding-top: 80px;
        display: inline-block;
    }

@media (max-width: 460px) {
    .category-title-top small {
        padding-top: 20px;
        display: inline-block;
    }

    .category-title-top img {
        margin: 0 auto;
    }
}

.product-categories {
    font-size: 18px;
    color: #f74258;
    text-transform: uppercase;
    padding-top: 30px;
}

.table-lg {
    overflow: auto;
    padding-bottom: 20px;
    font-size: 12px;
    line-height: 14px;
}

    .table-lg table tr {
        border-bottom: 1px solid #ddd;
    }

    .table-lg table td {
        border-right: 1px solid #ddd;
        padding: 5px;
    }

    .table-lg table tr:nth-child(odd) {
        background-color: #f5f5f5;
    }

.topic-page .list-style-none {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nop-jcarousel .carousel-item .item-box .product-item {
    box-shadow: 1px 1px 17px rgba(0, 0, 0, 0.30);
}

.min-amount-warning {
    background: #f00;
    padding: 5px;
    color: #fff;
    margin-top: 10px;
    font-weight: bold;
}

/* home */
body.home-page-body .about-img {
    margin-bottom: 20px;
    max-width: none;
}

    body.home-page-body .about-img img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

body.home-page-body .spc-categories .category-details {
    background-color: #1b83c7;
}

    body.home-page-body .spc-categories .category-details h2.category-inner-title {
        line-height: 1.4;
    }

    body.home-page-body .spc-categories .category-details .category-sublist {
        padding-top: 5px !important;
    }

@media (min-width: 481px) {
    body.home-page-body .spc-categories .category-title a {
        display: inline-block;
    }

    body.home-page-body .spc-categories .category-details .category-sublist li {
        display: block;
    }
}

@media (min-width: 1001px) {
    html.k-ie body.home-page-body .two-colums-area-right {
        top: -40rem !important; /* override 1000.css file */
    }

    body.home-page-body .home-page .page-body > .topic-block:first-child {
        margin: 100px 0 50px;
    }

    html.k-ie body.home-page-body .home-page .page-body > .topic-block:first-child {
        margin: 275px 0 50px;
    }

    html.k-ie body.home-page-body .two-colums-area-left, /* yes, columns is misspelled in the HTML */
    html.k-ff body.home-page-body .two-colums-area-left,
    html.k-webkit58 body.home-page-body .two-colums-area-left { /* k-webkit58 is what is used when Edge is detected - old JS library */
        float: left;
        position: static;
        width: 272px;
    }

    html.k-ie body.home-page-body .two-colums-area-right,
    html.k-ff body.home-page-body .two-colums-area-right,
    html.k-webkit58 body.home-page-body .two-colums-area-right {
        float: right;
        top: 0 !important;
    }

    html.k-ie body.home-page-body .master-column-wrapper,
    html.k-ff body.home-page-body .master-column-wrapper,
    html.k-webkit58 body.home-page-body .master-column-wrapper {
        margin-top: -850px;
    }

        html.k-ie body.home-page-body .master-column-wrapper .center-1,
        html.k-ff body.home-page-body .master-column-wrapper .center-1,
        html.k-webkit58 body.home-page-body .master-column-wrapper .center-1 {
            position: static !important;
            top: 0 !important;
        }

    html.k-ie body.home-page-body .home-page .page-body > .topic-block:first-child,
    html.k-ff body.home-page-body .home-page .page-body > .topic-block:first-child,
    html.k-webkit58 body.home-page-body .home-page .page-body > .topic-block:first-child {
        margin: 900px 0 50px;
    }

    html.k-ie body.home-page-body .jCarouselMainWrapper:last-of-type,
    html.k-ff body.home-page-body .jCarouselMainWrapper:last-of-type,
    html.k-webkit58 body.home-page-body .jCarouselMainWrapper:last-of-type {
        margin-top: 1000px;
    }

    body.home-page-body .spc-categories .category-inner-title {
        white-space: normal !important;
    }

    body.home-page-body .about-img {
        margin-bottom: 0;
        width: 30%;
    }

        body.home-page-body .about-img img {
            display: inline-block;
            margin-left: 0;
            margin-right: 0;
        }
}

@media (min-width: 1281px) {
    body.home-page-body .home-page .page-body > .topic-block:first-child {
        margin: 0 0 50px;
    }
}


/* header menu */
.header-menu > ul li:last-child {
    background-color: #000;
}

@media (min-width: 1001px) {
    .header-menu > ul li:last-child {
        background-color: transparent;
    }
}

/* category navigation */
ul.category-navigation-list ul.sublist img.picture {
    max-width: 100%;
}

/* forms */
form .required {
    font-size: 18px;
    font-weight: 700;
}

/* override height attribute on img - fixes max-width: 100% in styles.css */
.master-wrapper-content img {
    height: auto;
}

/* nivo slider */
.slider-wrapper,
.nivoSlider {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    overflow: hidden;
}

/* product list */
.product-list .product-item .details .add-info .buttons-lower .ajax-cart-button-wrapper .productQuantityTextBox {
    display: none;
}

/* category page product categories hover */
@media (max-width: 1280px) {
    .sub-category-grid .sub-category-item:hover .picture {
        opacity: 1;
    }

    .sub-category-grid .sub-category-item:hover .sub-category-details {
        display: none;
    }
}

/* sidebar elements */
@media (max-width: 1000px) {
    .block {
        float: none !important;
    }
}

@media (max-width: 1280px) {
    .sidenav-support h3.sidenav-phone a {
        font-size: 20px;
    }
}
